h1 vista 2

.vista2
    h1 Proximos Proyectos
    md-grid-list(md-cols="3" md-row-height="200px")
        md-grid-tile(md-colspan="1" md-rowspan="1" ui-sref="pendientes")
            md-grid-tile-footer
                md-button()
                    |Ver mas
        md-grid-tile(md-colspan="1" md-rowspan="1")
        md-grid-tile(md-colspan="1" md-rowspan="1")

    h1 Proyectos en Progreso
    md-grid-list(md-cols="3" md-row-height="200px")
        md-grid-tile(md-colspan="1" md-rowspan="1" ui-sref="progreso")
            md-grid-tile-footer
                md-button()
                    |Ver mas
        md-grid-tile(md-colspan="1" md-rowspan="1")
        md-grid-tile(md-colspan="1" md-rowspan="1")
        
        
    h1 Proyectos en Terminado
    md-grid-list(md-cols="3" md-row-height="200px")
        md-grid-tile(md-colspan="1" md-rowspan="1" ui-sref="progreso")
            md-grid-tile-footer
                md-button()
                    |Ver mas
        md-grid-tile(md-colspan="1" md-rowspan="1")
        md-grid-tile(md-colspan="1" md-rowspan="1")
