md-card(layout="column")
    h1 Progreso
    
    md-input-container
        label reportes de avances
        input(ng-model="progreso.avances")
    md-input-container
        label fecha de avances
        md-datepicker(ng-model="progreso.fechas")
