md-card(layout="column")
    h1 Progreso
    
    md-input-container
        label reportes de avances
        input(ng-model="proyecto.progreso.reportes_avance")
    md-input-container
        label fecha de avances
        md-datepicker(ng-model="proyecto.progreso.fechas_avance")
