md-card(layout="column")
    h1 Terminado
    md-input-container
        label Resultados
        input(ng-model="proyecto.terminado.resultado")
    md-input-container
        label Duracion del proyecto
        input(ng-model="proyecto.terminado.duracion")
