md-card(layout="column")
    h1 Terminado
    md-input-container
        label Resultados
        input(ng-model="terminado.resultados")
    md-input-container
        label Duracion del proyecto
        input(ng-model="terminado.duracion")
