AmarilloObscuro = #f7d64c
AmarilloClaro = #f8de74

md-dialog.nuevacampana
    width: 60vw;

md-sidenav
    md-icon
        margin: auto 20px !important;

.md-input[disabled]
    margin: 10px;
    padding: 0 30px;
    font-size: 40px;
    height: 50px;
    background-image: none !important;
    color: black !important;
    transition: all 1s ease-in-out;

.md-input
    transition: all 1s ease-in-out;

.angular-google-map-container
	height 100%

.proyecto
    .navegador
        display flex
        .navegador-container
            margin auto
            width 100px
            md-card
                margin auto
                margin-top 50px
                width 100px
                background AmarilloObscuro
                .md-button
                    margin 0px
                    height 50px
                    display flex
                    md-icon
                        margin auto
                    &.active
                        background white
    section
        .titulo
            display flex
            md-icon.icon
                margin auto 20px
                color AmarilloObscuro
            .md-button
                float right
                margin auto 20px
                height 20px
        .creacion
            form
                margin 0px
                .creacion-content
                    padding 20px
                    .creacion-row
                        margin 20px 0
                    md-input-container
                        overflow hidden
                        margin 0px
                        // .md-errors-spacer
                        //     position absolute
                    &.textarea
                        .md-errors-spacer
                            position initial
                .md-button
                    height 20px
        &.info
            form
                margin 0px
                .md-button
                    margin 0px
                    border-radius 0px
		&.imagenes
			md-grid-list
                md-grid-tile
                    background-position center
                    background-size cover
                    background-repeat no-repeat
					.grid-content
                        width 100%
                        form
                            width 100%
                            margin 0px
                            height calc(100% - 48px) !important
                            .dropify-wrapper
                                padding 0px
                                margin 0px
