.main,
footer {
  position: relative;
  z-index: 2;
}
md-progress-circular path {
  stroke: #f7d64c;
}
.angular-google-map-container {
  height: 100%;
}
.green {
  background-color: #73b86a;
}
.red {
  background-color: #f00;
}
.loader {
  min-height: calc(100vh - 100px);
  width: 100%;
  display: flex;
}
.loader md-progress-circular {
  margin: auto;
}
@font-face {
  font-family: Baloo;
  src: url("/fonts/Baloo-Regular.ttf");
}
* {
  font-family: Baloo;
}
p,
span {
  font-family: Arial;
  font-size: 12px;
}
h4 {
  color: #353535;
}
.centro {
  margin-top: 100px;
  min-height: calc(100vh);
}
.ngi-inspector {
  color: #000;
  font-family: Arial;
}
.sebutton {
  border: 1px solid #fff;
}
html,
body {
  color: #fff !important;
}
html .nosotros,
body .nosotros {
  border: 1px solid #fff;
}
html .unete,
body .unete {
  border: 1px solid #fff;
  float: right;
  width: 300px;
  padding: 4% 15%;
}
header {
  height: 50px;
  width: 100%;
  padding: 0 50px !important;
  color: #353535;
  background: rgba(255,255,255,0.8);
  position: fixed;
  z-index: 3;
}
header .menu {
  width: 100%;
}
header .menu .logo-container h2 {
  margin: auto 20px;
}
header .menu .logo-container .logo {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: #fff;
  display: flex;
  border-radius: 100px;
}
header .menu .logo-container .logo md-icon {
  height: 30px;
  width: 30px;
}
header .menu .md-nav-bar {
  height: 50px;
  border-radius: 0px;
}
header .menu .md-nav-bar .md-nav-item {
  margin: 0 40px;
}
header .menu .md-nav-bar .md-nav-item span {
  font-size: 14px !important;
}
header .menu .profilebuttons {
  display: inline-block;
}
header .menu .profilebuttons .md-button {
  float: right;
  border: 1px solid #fff;
}
header .menu .profilebuttons .auth h2 {
  margin: auto 0;
}
header .menu .profilebuttons .auth .perfil,
header .menu .profilebuttons .auth .logout {
  width: 50px;
  min-width: 50px;
}
header .menu .md-button {
  font-size: 24px;
  color: #353535 !important;
}
body {
  background: inherit;
}
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 35px;
}
footer .starbrand {
  display: flex;
  color: #fff;
}
footer .starbrand md-icon {
  width: 100px;
}
footer .md-button {
  border-radius: 0px;
  color: #fff;
}
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
.home .konva {
  top: 0;
  position: fixed;
  z-index: -1;
  background-color: #f7d64c;
}
.home .konva canvas {
  z-index: 1;
  width: 1800% 1800%;
}
.home .home-container .right {
  min-height: calc(100vh - 250px);
  display: flex;
}
.home .home-container .right .right-content {
  margin: auto;
}
.home .home-container .right .anecdotas {
  margin-bottom: 100px;
}
.home .home-container .left {
  min-height: calc(100vh - 250px);
  display: flex;
}
.home .home-container .left .left-container {
  position: absolute !important;
}
.home .home-container .left .left-content {
  margin: auto;
}
.proyecto section {
  margin-top: 100px;
}
.proyecto .titulo {
  display: flex;
  margin: 20px 0;
}
.proyecto .titulo md-icon {
  width: 150px;
  height: 50px;
  margin: auto 0px;
}
.proyecto .titulo h2 {
  color: #353535;
}
.proyecto .left .md-padding {
  padding-top: 0px;
}
.proyecto .left .md-padding .portada {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.proyecto .left h2 {
  margin: 0;
  height: 30px;
}
.proyecto .right .comparte {
  display: inline-block;
}
.proyecto .right .comparte p {
  background-color: #f8de74;
  border-radius: 3px;
  text-align: center;
  margin: 0px;
  color: #353535;
}
.proyecto .right .comparte .md-button {
  margin: 0px;
  background-color: #f7d64c;
  width: 100%;
}
.proyecto .right .comparte .md-button md-icon {
  margin: auto 20px;
}
.proyecto .title {
  display: inline-flex;
  margin: 20px 0;
}
.proyecto .title .title-content {
  display: inline-block;
}
.proyecto .title .title-content h2 {
  margin: 0px;
  color: #353535;
}
.proyecto .title .title-content p {
  color: #353535;
  margin: 0;
}
.proyecto .title md-icon {
  margin: auto 20px;
  color: #f7d64c;
}
.proyecto h4 {
  margin: 0px;
}
.proyecto .evento,
.proyecto .materiales {
  margin: 25 0;
}
.proyecto md-list {
  padding: 0;
}
.proyecto md-list md-list-item {
  background: rgba(255,255,255,0.2);
  height: 20px;
  min-height: 35px;
  margin: 5 0;
}
.proyecto md-list md-list-item md-progress-linear {
  transform: rotate(180deg);
  position: absolute;
  z-index: 1;
  height: 100%;
  background-color: inherit;
}
.proyecto md-list md-list-item md-progress-linear .md-container {
  height: 100%;
  background-color: inherit;
}
.proyecto md-list md-list-item md-progress-linear .md-container .md-bar2 {
  background-color: #f8de74;
  height: 100%;
}
.proyecto md-list md-list-item p {
  margin: auto 20;
}
.proyecto md-list md-list-item .cantidad,
.proyecto md-list md-list-item .fecha {
  min-width: 50px;
  text-align: right;
  color: #353535;
  z-index: 2;
}
.proyecto md-list md-list-item md-card {
  background-color: #f7d64c;
  z-index: 2;
}
.proyecto md-list md-list-item .md-secondary-container {
  padding: 0px;
  z-index: 2;
}
.proyecto md-list md-list-item .md-secondary-container .md-button {
  background-color: #fff;
  color: #000;
}
.proyecto .fotos {
  width: 100%;
  margin-bottom: 100px;
}
.proyecto .fotos md-grid-list md-grid-tile {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.proyecto .anecdotas .anecdotas-content {
  margin: 50px 0;
}
.proyecto .anecdotas .anecdotas-content md-list md-list-item {
  min-height: 60px !important;
}
.proyecto .anecdotas .anecdotas-content md-list md-list-item img {
  margin: auto 20px;
}
.comentarios form {
  margin: 0;
}
.comentarios form .comentario {
  padding: 20px;
}
.comentarios form .md-avatar {
  height: 40px;
  width: 40px;
  margin: auto 20px;
  border-radius: 50%;
}
.comentarios form md-input-container {
  margin-top: 20px;
  margin: 0px;
  width: 100% !important;
}
.comentarios form .opciones .md-button {
  margin: 0px;
}
.proyectosterminados {
  margin-top: -100px;
}
.proyectosterminados .portadafull {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.proyectosterminados .portadafull .titulo {
  width: 100%;
  margin: 0px !important;
  background: rgba(255,255,255,0.8);
  height: 10vh !important;
  display: flex;
}
.proyectosterminados .portadafull .titulo h2 {
  font-size: 24px;
  margin: auto 30px;
}
.proyectosterminados .terminado-content {
  margin-top: 10vh;
}
.proyectos .proyectos-container md-card,
.proyectos .proyectos-container .pendientes,
.proyectos .proyectos-container .progresos,
.proyectos .proyectos-container .terminados {
  margin-top: 2vh;
}
.proyectos .proyectos-container .vista1 {
  margin-bottom: 15vh;
}
.proyectos .proyectos-container .vista1 .titulo {
  margin: 20px 0;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.proyectos .proyectos-container .vista1 .titulo md-icon {
  width: 74px;
  height: 26px;
  margin: auto 20px;
}
.proyectos .proyectos-container .vista1 .titulo h4 {
  margin: 10px 0;
}
.proyectos .proyectos-container .vista1 md-card {
  width: 100%;
  margin: 0px;
}
.proyectos .proyectos-container .vista1 md-card md-grid-list md-grid-tile {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
.proyectos .proyectos-container .vista1 md-card md-grid-list md-grid-tile.conHover {
  cursor: pointer;
  z-index: 99;
  transform: scale(1.1);
  border-radius: 3px;
}
.proyectos .proyectos-container .vista1 md-card md-grid-list md-grid-tile md-grid-tile-footer h4 {
  color: #fff;
}
.proyectos .proyectos-container .vista1 .md-button {
  background: rgba(255,255,255,0.2);
  width: 30px;
  min-width: 30px;
  margin: 0;
}
.proyectos .proyectos-container .vista1 .md-button md-icon {
  width: 20px;
  height: 20px;
  margin: 0px;
  color: #f7d64c;
  transform: scale(2);
}
.loginyregistro {
  width: 100%;
  height: 100%;
  display: flex;
}
.loginyregistro md-card {
  width: 30vw;
  margin: auto;
}
.loginyregistro md-card md-toolbar {
  background-color: rgba(255,255,255,0);
}
.loginyregistro md-card md-toolbar .md-toolbar-tools {
  padding: 0px;
}
.loginyregistro md-card md-toolbar .md-toolbar-tools .md-button {
  background-color: rgba(255,255,255,0);
  width: 20px !important;
  border-right: 1px solid rgba(0,0,0,0.12);
  margin: 0px;
  padding: 0px;
  margin-right: 20px;
}
.loginyregistro md-card form {
  margin-bottom: 0px;
}
.loginyregistro md-card .md-button {
  min-height: 60px;
  background-color: #f7d64c;
  padding: 0px;
  border-radius: 0px;
  width: 100% !important;
  margin: 0px;
  display: flex;
}
.loginyregistro md-card .md-button.fb {
  background-color: #475993;
}
.loginyregistro md-card .md-button.ok {
  background-color: #73b86a;
}
.loginyregistro md-card .md-button .md-button-content {
  margin: auto;
  display: flex;
}
.loginyregistro md-card .md-button .md-button-content md-icon {
  margin: auto 10px;
}
md-dialog.login {
  min-width: 30vw;
  width: 30vw !important;
}
md-dialog.login .botones .md-button {
  display: flex !important;
}
md-dialog.login .botones .md-button md-icon {
  margin: auto;
}
md-dialog.login .botones .botones-registro {
  width: 100%;
}
md-dialog.login .botones .botones-registro .md-button {
  width: 100% !important;
}
md-dialog {
  width: 50vw;
}
md-dialog form {
  margin-botton: 0;
}
md-dialog.accion .titulo {
  text-align: center;
}
md-dialog.accion form {
  margin-bottom: 0px;
}
md-dialog.accion form .md-button {
  margin: 0px;
  border-radius: 0px;
}
.ng-hide-add.ng-hide-add-active {
  -webkit-animation: fadeOut 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: fadeOut 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.ng-hide-remove.ng-hide-remove-active {
  -webkit-animation: fadeIn 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: fadeIn 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
main.ng-enter {
  -webkit-animation: bounceInUp 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: bounceInUp 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
main.ng-leave {
  -webkit-animation: bounceOutDown 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: bounceOutDown 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.left-container.ng-enter {
  -webkit-animation: fadeInLeft 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: fadeInLeft 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.left-container.ng-leave {
  -webkit-animation: fadeOutRight 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: fadeOutRight 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
