.layout-row>div
    max-height inherit !important

footer
    background-color #edede8
    .starbrand
        margin 50px 10px
        display flex
        color black
        p
            font-size 16px
        md-icon
            height 50px
            width 200px
            path
                fill black !important
