.ubicacion(flex)
	.title
		md-icon location_on
		.title-content
			h2 Ubicaciones
			p Localiza los centros de ayuda
	md-card
		md-list
			md-progress-linear(md-mode="indeterminate" ng-if="!ubicaciones" ng-disabled="ubicaciones")
			md-list-item(ng-repeat="ubicacion in ubicaciones")
				.md-list-item-text
					p {{ubicacion.nombre}}
		.mapa(style="height: 300px")
			ui-gmap-google-map(center='map.center' zoom='map.zoom')
				ui-gmap-marker(coords="marker" idkey="$index" ng-repeat="marker in markers")
