.anecdotasHome(flex="50")
	md-list
		md-card(ng-repeat="anecdota in anecdotas" center)
			md-list-item.md-2-line
				img.md-avatar(ng-src="{{anecdota.usuario.foto}}")
				.md-list-item-text
					h4 {{anecdota.usuario.nombre}}
					p {{anecdota.contenido}}
				.md-secondary
					p {{anecdota.Proyecto.nombre}}
