section(ng-if="proyectoCreado === undefined")
    md-card(ng-init="obtenerCampanas()")
        md-card-content(layout="column")
                h1 Nuevo proyecto
                md-input-container(flex)
                    label Nombre del proyecto
                    input(ng-model="proyecto.nombre")
                md-input-container(flex)
                    label Descripcion
                    input(ng-model="proyecto.descripcion")
                
        md-card-content(layout="row")
                md-input-container(flex)
                    label Campañas
                    md-select(ng-model="proyecto.Id_campana")
                        md-option(ng-value="campana.id" ng-repeat="campana in campanas") {{campana.nombre}}
                md-input-container(flex)
                    label Status
                    md-select(ng-model="proyecto.status_actual" ng-change="cambiar(proyecto.status_actual)")
                        md-option(ng-value="1") Pendiente
                        md-option(ng-value="2") Progreso
                        md-option(ng-value="3") Terminado

section(ng-if="proyectoCreado != undefined")
    md-card
        md-card-content
            md-icon(md-colors="{color: 'green'}") done
            h1 {{proyectoCreado.nombre}}
            p {{proyectoCreado.Status.Pendiente.id}}
            p {{proyectoCreado.Status.Progreso.id}}
            p {{proyectoCreado.Status.Terminado.id}}

main.page(ui-view="main")
    
md-card(ng-if="proyectoCreado === undefined")
    md-button(type="submit" ng-click="IngresarProyecto($scope.proyecto)"  md-colors="{background: 'green'}")
        md-icon send
