.perfil(layout="row" layout-align="center start")
	.perfil-container(flex="80")
		md-card
			md-list
				md-list-item.md-2-line
					.md-list-item-text
						h4 {{usuario.nombre}}
						p Nombre
				md-list-item.md-2-line
					.md-list-item-text
						h4 {{usuario.correo}}
						p Correo
