.tyc(layout="row" layout-align="center center" ng-init="obtenerCampanas()")
    .tyc-container(flex="60")
        md-card
            md-card-content
                h2 Terminos y condiciones
            md-divider
